docs/n8n-sheets-to-database-workflow.json
{
  "name": "Sheets to Database Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "mode": "url",
          "value": "={{$json.sheetUrl}}"
        },
        "sheetName": {
          "mode": "name",
          "value": "Sheet1"
        },
        "range": "A:F",
        "options": {
          "returnAllMatches": true
        }
      },
      "id": "google-sheets",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [220, 0],
      "credentials": {},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Transform sheet rows to contacts schema\nfunction formatPhone(phone) {\n  if (!phone) return null;\n  let cleaned = String(phone).replace(/\\D/g, '');\n  if (cleaned.startsWith('0')) cleaned = '62' + cleaned.slice(1);\n  if (!cleaned.startsWith('62')) cleaned = '62' + cleaned;\n  return '+' + cleaned;\n}\n\nfunction mapStatus(status) {\n  const map = { \n    'Baru': 'new', \n    'Panas': 'hot', \n    'Hangat': 'warm', \n    'Dingin': 'cold',\n    'New': 'new',\n    'Hot': 'hot',\n    'Warm': 'warm',\n    'Cold': 'cold'\n  };\n  return map[status] || 'new';\n}\n\nfunction validateEmail(email) {\n  if (!email) return null;\n  const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n  return emailRegex.test(email) ? email : null;\n}\n\n// TODO: Replace with your actual workspace_id from Supabase\nconst WORKSPACE_ID = 'YOUR_WORKSPACE_UUID_HERE';\n\nconst output = [];\n\nfor (const item of $input.all()) {\n  const row = item.json;\n  \n  // Skip empty rows or rows without phone\n  if (!row.Phone && !row.phone) continue;\n  \n  const phone = formatPhone(row.Phone || row.phone);\n  if (!phone) continue;\n  \n  output.push({\n    json: {\n      workspace_id: WORKSPACE_ID,\n      phone: phone,\n      name: row.Name || row.name || null,\n      email: validateEmail(row.Email || row.email),\n      lead_status: mapStatus(row.Status || row.status),\n      lead_score: 0,\n      tags: [],\n      metadata: { \n        notes: row.Notes || row.notes || '', \n        source: 'google_sheets',\n        imported_at: new Date().toISOString()\n      }\n    }\n  });\n}\n\nreturn output;"
      },
      "id": "code-transform",
      "name": "Transform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "mode": "name",
          "value": "contacts"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "conflictColumns": ["phone", "workspace_id"],
        "options": {
          "returnAll": true
        }
      },
      "id": "postgres-upsert",
      "name": "Upsert to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [660, 0],
      "credentials": {},
      "onError": "continueRegularOutput",
      "retryOnFail": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "Upsert to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-15T10:00:00.000Z",
  "versionId": "1"
}
